# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# Output folders
output/
final_output/
csv/
pdf/output/
excel/output/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
